<!DOCTYPE html>
<link rel="stylesheet" href='../static/style.css' />
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DRAW</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="imgbox">
        <img class="center-fit" id="displayImage" src="{{url_for('video_feed')}}">
    </div>
</body>
</html>